.Rhistory
.Rprofile
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
!checksums.csv
.Rproj.user
*.zip
*.xlsm
taskscheduler_script.R
coda_data*
RMD30_Caspar van Lissa_2020-05-08 11-50 CEST.csv
RMD30*.csv
*.csv
!scale_descriptives.csv
!split_sample.csv